html {
    position: relative;
    height: 100%;
    margin: 0;
}

*:focus {
    outline: none !important;
}

a {
    font-size: 17px;
    text-decoration: none;
    color: white;
}


main{
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;;
}

li img{
    margin-left: 50px;
}

.body-content {
    /*font-family: 20px/1.2em 'Roboto', Helvetica, Arial, sans-serif;*/
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    counter-reset: section;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    background: url(../images/gr4.jpg) center center / cover no-repeat fixed;
}

.logo {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}


.navbar-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 25px;
}
.navbar {
    background: rgba(0,0,0,0.2);
    letter-spacing: 1px;
    border-color: transparent;
    margin: 0;
    height: 64px;
    font-size: 17px;
    padding: 6px 15px;
    z-index: 1;
}

header{
    border-bottom: solid 0.01em white;
}

@media (min-width: 850px) {
    .navbar {
        border-radius: 0;
    }
}

ul {
    color: black;
    text-decoration: none;
    list-style:none;
}

li {
    margin-left: 10px;
    text-decoration: none;

}

label {
    font-size: 12px;
    color: #9E9E9E;
    display: block;
}

input{
    font-size: 16px;
    color: #9E9E9E;
}

.login-form{
   padding-top: 200px;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}
input[type=email], [type=password], select {
    width: 350px;
    height: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 5px;
    outline: none;
    background-color: transparent;
}

.submit {
    margin-top: 5px;
    border: none;
    float: right;
    width: 170px;
    height: 43px;
    border-radius: .4em;
    font-size: 17px;
    color:rgba(207, 0, 15, 1);
    background-color: white;
    font-weight: 700;
}

.submit:hover{
    color: white;
    background-color: rgb(105, 0, 8);
    border: solid 1px white;
}

.image-logo{
    margin-top: 3px;
}
.table-header{
  text-align: center;
    font-size: 1.6em;
    margin: 50px 0 15px 0;
}
.table-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 50px;
    margin: 10px 0 10px 0;
    font-size: 1.2em;
}

.table-row:hover{
    background-color:rgba(0, 0, 0, 0.4) ;
}

.table-text{
    color: white;
}

.gallery-content{
    display: flex;
    margin: 30px 0 10px 0;
    justify-content: center;
}

.gallery-item{
    margin: 2px 8px 2px 8px;
}
.gallery-row{
    display: flex;
    flex-direction: row;
}

.footer {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    color: #666666;
}

.footer a{
    color:  #666666 ;
}
.footer p {
    font-size: 15px;
    margin: 0 0 1px;
}

@media only screen and (max-width: px) {
    body {
        background-color: lightblue;
    }
}

